span {
    cursor:pointer;
}

.plusMinus{
    margin-left: 6em;
    display: inline-block;
}

#orderSubmitButton{
    margin: 2em 0 0 6em;
    color: white !important;
}

.minus, .plus{
    width:1.5em;
    height:1.5em;
    background:#f2f2f2;
    border-radius:4px;
    padding:8px 5px 8px 5px;
    border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

input{
    height:1em;
    width: 2em;
    text-align: center;
    font-size: 3vw;
    border:1px solid #ddd;
    border-radius:4px;
    display: inline-block;
    vertical-align: middle;
}